name: Build
on:
    push:
    pull_request:
    schedule:
    - cron: 0 3 * * 6  # Every Saturday at 3:00 AM
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x, 1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Check go fmt compliance
      run: make fmt-check
    - name: Run go lint
      run: make lint
    - name: Run go vet
      run: make vet
    - name: Run staticcheck
      run: make staticcheck
    - name: Run tests
      run: make test
